* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 1.7;
  color: #222;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.05em;
  margin: 0.2em 0;
  text-align: center;
}


h2 {
  font-size: 2.7em;
}

h4 {
  font-size: 1.9em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.2em;
}

p {
  text-align: left;
  font-size: 1em;
  margin: 1em 0 0;
}


a {
  outline: none;
  text-decoration: none;
  color: #86a578;
}


strong {
  font-weight: 700;
  letter-spacing: 0.05em;
}

em {
  letter-spacing: 0.05em;
}

u {
  text-decoration: underline;
  font-weight: 500;
  letter-spacing: 0.05em;
}

q {
  font-style: 500i;
  letter-spacing: 0.05em;
}

blockquote {
  font-style: italic;
  line-height: 2;
  letter-spacing: 0.05em;
  padding: 10px 30px;
}

blockquote:first-letter {
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

/* Buttons */
.btn {
  width: 150px;
  padding: 10px 0;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin: 15px 0;
  cursor: pointer;
  display: inline-block;
}

.btn-primary {
  background-color: transparent;
  border: 2px solid #1abc9c;
  border-radius: 3px;
  color: #1abc9c;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: #1abc9c;
  border: 2px solid #1abc9c;
  border-radius: 3px;
  color: #fffaf0;
  transform: scale(0.8);
}


